pkgbase = sysinfo
	pkgdesc = Simple ncurses-based system monitor
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/travisschaffrick/sysinfo
	arch = x86_64
	license = MIT
	makedepends = gcc
	makedepends = make
	depends = ncurses
	source = sysinfo-1.0.0.tar.gz::https://github.com/travisschaffrick/sysinfo/archive/refs/tags/v1.0.0.tar.gz
	sha256sums = 55a36887cbba17a11d721bc2b274ce5c7159621eafd5625a4e9df0970e7c83b9

pkgname = sysinfo
