pkgbase = systats
	pkgdesc = Simple ncurses-based system monitor
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/travisschaffrick/systats
	arch = x86_64
	license = MIT
	makedepends = gcc
	makedepends = make
	depends = ncurses
	source = systats-1.0.0.tar.gz::https://github.com/travisschaffrick/systats/archive/refs/tags/v1.0.0.tar.gz
	sha256sums = cdc0ab03504253b089d94f69cc1de9997ff5c717a0424d58c0917fcf36f24461

pkgname = systats
